body{
    font-family: 'Times New Roman', Times, serif;
    margin: 20;
    background-color: rgb(241, 241, 245);
}
.Menu{
    text-decoration: none;
    padding: 10px 20px;
    background-color: #2950fff8;
    color: white;
    border: 2px solid blue; /*#04AA6D*/
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    margin: 20px;
}
.Menu:hover{
    background: #002fff;
    color: white;
}
.Guardar{
    padding: 5px 10px;
    background-color: rgba(12, 12, 255, 0.885);
    color: white;
    border: 2px solid #001b95; /*#04AA6D*/
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    margin: 1px;
}
.Guardar:hover{
    background: blue;
    color: white;
}
.form-container{
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    margin-right: 300px;
    width: 1200px;
    border: 3px solid grey;
}
.form-container label{
    display: block;/* Asegura que el texto esté en una línea separada */
    text-align: left;
    white-space: normal;
    word-wrap: space;
}
.form-content{
    font-size: 14px;
    color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 7px; /* Espacio entre los elementos del formulario */
    margin-right: 10px;
    width: 100%;
    border-radius: 5px;
}
.form-content p{
    margin: 1px; /* Ajusta el ancho de las columnas */
}

input[type="text"], input[type="number"], select, textarea {
    width: 200px; /* Ancho de la caja */
    height: 40px; /* Alto de la caja */
    background-color: white; /* Color de fondo */
    border: 2px solid rgb(214, 214, 214); /* Borde */
    border-radius: 4px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    font-size: 14px; /* Tamaño de la fuente */
    color: #333; /* Color del texto */
}
input[type="text"]:focus, input[type="number"]:focus, input[type="select"]:focus, textarea:focus {
    border-color: mediumblue; /* Color del borde al enfocarse */
    outline: none; /* Elimina el borde azul predeterminado */
    
}
h2{
    color: black;
    font-size: 40px;
    margin:10px;
}
